/* 页面样式 */
.index-page{
    min-height: 100vh;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
}
/* 页面头部样式 */
.page-header{
    width: 100%;
    height: 82px;
    border-bottom: 2px solid #2E2F55;
    background: #FFFFFF;
    position: -webkit-sticky;
    position:sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.page-header-section{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header-left{
    display: flex;
    align-items: center;
}
.page-header-logo{
    width: 178px;
    height: 44px;
    cursor: pointer;
    margin-right: 15px;
}
.page-header-tag{
    width: 130px;
    height: 27px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FEFEFE;
    line-height: 27px;
    text-align: center;
    background: #6E81EB;
    border-radius: 5px;
    position: relative;
}
.page-header-tag::before{
    content: '';
    width: 0;
    height: 0;
    border-right: 6px solid #6E81EB;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: 10.5px;
    left: -6px;
}
.header-nav-item{
    height: 28px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #2E2F55;
    line-height: 28px;
    margin-left: 48px;
}
/* 页面主体样式 */
.page-body{
    display: flex;
    flex-direction: column;
    position: relative;
}
/* 介绍部分样式 */
.intro-section{
    height: 358px;
    margin-top: 94px;
    font-size: 0;
}
.intro-section-left{
    margin-left: 19px;
    margin-right: 68px;
    display: inline-block;
    vertical-align: top;
}
.intro-section-title{
    margin-top: 29px;
}
.intro-title-text{
    font-size: 46px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #2E2F55;
    line-height: 40px;
    margin-bottom: 30px;
}
.intro-section-content{
    width: 594px;
    height: 136px;
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #2E2F55;
    line-height: 34px;
    margin-top: 9px;
    margin-left: 4px;
}
.intro-section-right{
    display: inline-block;
}
.intro-section-img{
    width: 458px;
    height: 358px;
}
/* 模式部分样式 */
.mode-section{
    height: 654px;
    text-align: center;
    margin-top: 209px;
}
.mode-section-list{
    margin-top: 52px;
    padding: 0px 125px;
    display: flex;
    justify-content: space-between;
}
.mode-section-item{
    width: 450px;
    height: 570px;
    padding: 148px 0px 53px;
}
.mode-section-item.buy{
    background-image: url(https://www.youked.com/assets/pages/index_v3/images/Chiffre.svg);
    background-repeat: no-repeat;
}
.mode-section-item.order{
    background-image: url(https://www.youked.com/assets/pages/index_v3/images/Chiffre2.svg);
    background-repeat: no-repeat;
}
.mode-item-title{
    font-size: 38px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 65px;
}
.mode-item-desc{
    font-size: 24px;
    font-family: Avenir-Roman, Avenir;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 30px;
}
.mode-item-content{
    margin-top: 35px;
}
.item-content-box{
    font-size: 21px;
    font-family: Avenir-Roman, Avenir;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 40px;
    position: relative;
}
.item-content-box::before{
        content: '';
        width: 18px;
        height: 10px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-radius: 1px;
        transform: rotate(-45deg);
        display: block;
        position: absolute;
        left: 113px;
        top: 10px;
}
.mode-item-button{
    width: 285px;
    height: 64px;
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FEFEFE;
    border-radius: 32px;
    border: 3px solid #FEFEFE;
    background: none;
    margin-top: 55px;
}
.mode-item-button:hover{
    color: #FBBB4E;
    background: #FEFEFE;
    transition: all .5s ease;
}
.mode-item-button.order-btn:hover{
    color: #6E81EB;
    background: #FEFEFE;
    transition: all .5s ease;
}
/* 背景左边图片样式 */
.bg-left-photo{
    position: absolute;
    top: 1270px;
    left: 0;
    z-index: -100;
}
.bg-left-img{
    width: 142px;
    height: 323px;
}
/* 背景右边图片样式 */
.bg-right-photo{
    position: absolute;
    margin-top: 837px;
    right: 0;
    z-index: -100;
}
.bg-right-img{
    width: 139px;
    height: 316px;
}
/* 优势部分样式 */
.adv-section{
    text-align: center;
    margin-top: 190px;
}
.adv-section-desc{
    margin-top: 31px;
}
.adv-section-list{
    margin-top: 103px;
}
.adv-section-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 84px;
}
.adv-item-img1{
    width: 418px;
    height: 464px;
}
.adv-item-img2{
    width: 540px;
    height: 487px;
}
.adv-item-img3{
    width: 464px;
    height: 516px;
}
.adv-item-content{
    width: 386px;
    text-align: left;
}
.adv-item-title{
    font-size: 32px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #2E2F55;
    line-height: 32px;
}
.adv-item-desc{
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #2E2F55;
    line-height: 34px;
    margin-top: 35px;
}
/* 联系部分样式 */
.connect-section{
    width: 100%;
    height: 250px;
    text-align: center;
    background-image: url(https://www.youked.com/assets/pages/index_v3/images/corperate-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 47px 0px 51px 0px;
}
.connect-section-title{
    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 45px;
}
.connect-section-desc{
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
    margin-top: 7px;
}
.connect-section-button{
    width: 183px;
    height: 54px;
    font-size: 24px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #394BCD;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-top: 24px;
}
.connect-section-button:hover{
    opacity: .8;
    transition: all .5s ease;
}
/* 伙伴部分样式 */
.partner-section{
    text-align: center;
    margin-top: 81px;
    padding: 0px 32px 0px 73px;
}
.partner-section-desc{
    margin-top: 31px;
}
.partner-section-logo{
    width: 1095px;
    height: 213px;
    margin-top: 68px;
    margin-bottom: 84px;
}
/* 页面脚部样式 */
.page-footer{
    height: 249px;
    background: #2E2F55;
    margin-top: 80px;
}
.page-footer-top{
    font-size: 0;
    margin-top: 25px;
}
.footer-top-left{
    display: inline-block;
}
.footer-logo{
    width: 155px;
    height: 38px;
}
.footer-content{
    width: 527px;
    margin-top: 16px;
}
.footer-content-text{
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FEFEFE;
    line-height: 35px;
}
.footer-top-right{
    display: inline-block;
}
.page-footer-bottom{
    margin-top: 33px;
    border-top: 2px solid #FFFFFF;
}
.footer-gov{
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
    margin-top: 21px;
}
.footer-gov-link{
    color: #FFFFFF;
    margin: 0px 15px 0px 15px;
}
.footer-gov-text:last-child{
    margin-left: 5px;
}